.btn {
    text-decoration: none;
    background: #30313c;
    padding: 10px 18px;
    border-radius: 10px;
    transition: .2s;
    background: #2EF2B5;
    color: #23242d;
    height: 50px;
    border: 1px solid var(--accent-color);
    font-size: 1.8ch;
    font-weight: 520;
}

.btn:hover {
    color: var(--accent-color);
    background: transparent;
    border: 1px solid var(--accent-color);
}