.navbar {
    height: 72px;
    background: #23242d;
    border-bottom: 1px solid #343540;
    display: flex;
    align-items: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0 32px;
}

.logo {
    color: #2EF2B5;
    text-decoration: none;
    font-size: 28px;
    font-weight: 700;

    margin-right: 60px;
}


.catalogButton {
    color: #d7d7d7;
    border: 1px solid #d7d7d7;
    text-decoration: none;
    background: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: .2s;
}


.catalogButton:hover {
    color: #2EF2B5;
    border: 1px solid #2EF2B5;
}

.search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.searchInput {
    width: 420px;
    height: 42px;

    background: #30313c;
    border: none;
    border-radius: 10px;

    color: white;
    padding: 0 18px;
    font-size: 15px;
}

.searchInput:focus {
    outline: 1px solid #2EF2B5;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-left: 40px;
}

.iconButton {
    width: 42px;
    height: 42px;

    background: #30313c;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.languageSelect {
    background: #30313c;
    color: white;
    border: none;
    border-radius: 10px;
    height: 42px;
}

.profile {
    color: white;
    text-decoration: none;
    background: #30313c;
    padding: 10px 18px;
    border-radius: 10px;
    transition: .2s;
}

.profile:hover {
    background: #2EF2B5;
    color: #23242d;
}