.pagesBlock {
    display: flex;
    color: white;
    font-size: 2ch;
    justify-content: center;
    padding-right: 25px;
    margin-bottom: 20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

.pageButton {
    padding: 10px;
}

.pageButton:hover {
    cursor: pointer;
}

.currentPageButton {
    background-color: #2EF2B5;
    color: black;
    border-radius: 25%;
}