.productCard {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 10px;

    background: #2b2d3a;
    border: 1px solid #3b3d4b;
    border-radius: 16px;

    overflow: hidden;
    cursor: pointer;

    transition: 0.25s ease;
}

.productCard:hover {
    /* transform: translateY(-6px); */
    border-color: #35f0b6;
    box-shadow: 0 10px 30px rgba(53, 240, 182, 0.12);
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    background: #393b48;
}

.priceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px 10px 20px;
}

.productTitle {
    margin: 18px 18px 8px;

    color: white;
    font-size: 20px;
    font-weight: 600;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.productPrice {
    color: #35f0b6;
    font-size: 22px;
    font-weight: 700;
}

.addToCartBtn {

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;

    background: #35f0b6;
    color: #1f2029;

    font-size: 28px;
    font-weight: bold;
    line-height: 1;

    cursor: pointer;

    transition: 0.25s;
}

.addToCartBtn:hover {
    transform: scale(1.1);
    background: #4ff8c2;
}

.addToCartBtn:active {
    transform: scale(0.95);
}