.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

.contentContainer {
    padding: 30px;
}

.sideBar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-color);
    padding: 30px;
    height: 100vh;
}

.link {
    color: var(--main-text-color);
    text-decoration: none;
    transition: 200ms;
}

.link:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.active_link {
    border-radius: 10px;
    background-color: var(--accent-color);
    color: var(--main-text-color);
}