.container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 0;
}


.loginText {
  margin-top: 15%;
  color: black;
  text-align: center;
  font-size: 4ch;
}

.form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.btn {
  align-self: center;
  border: none;
  border-radius: 5px;
  height: 5ch;
}

.login {
  text-align: center;
}

.field {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.input {
  height: 35px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;

}