.notFoundContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;

}

.notFound {
    color: rgb(50, 50, 50);
    font-size: 3rem;
}

.link {
    color: rgb(0, 132, 255);
    text-decoration: none;
    font-size: 1.5rem;
}