.mainContainer {
    margin: 80px 350px 0px 350px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 80px;
    font-size: 2ch;
    display: flex;
    flex-direction: column;
}

.infoBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.personalInfo {
    
}

.changePasswordButton {
    width: 200px;
}

.logOutBtn {
    margin-top:80px;
    background: none;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    width: 400px;
    height: 45px;
    transition: 300ms;
    align-self: center;
}

.logOutBtn:hover {
    background-color: red;
    color: white;
}
