:root {
    --main-text-color: #d7d7d7;
    --second-text-color: #828282;

    --accent-color: #2EF2B5;
    --main-color: #23242d;
    --second-color: #2B2C33;
    --third-color: #373943;

    --gap: 20px;
    --big-gap: 50px;
    --font: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;

    --big-border-radius: 30px;
    --small-border-radius: 15px;

    --big-padding: 50px;
    --small-padding: 20px;

    --title-size: 2.5ch;

    --small-padding: 20px;
}